<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Unipooper</title>

</head>
<body>
<div id="app">{{ html|safe }}</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/vendor.js"></script>
<script src="/js/vendor.bundle.js"></script>
<script src="/js/bundle.js"></script>
<link rel="stylesheet" type="text/css" href="semantic.min.css">
<script src="semantic.min.js"></script>
</body>
</html>
